{% extends 'base.html.twig' %}

{% block title %}BookRead index{% endblock %}

{% block body %}
    <h1>BookRead index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_id</th>
                <th>Rating</th>
                <th>Description</th>
                <th>Is_read</th>
                <th>Cover</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_read in book_reads %}
            <tr>
                <td>{{ book_read.id }}</td>
                <td>{{ book_read.userId }}</td>
                <td>{{ book_read.rating }}</td>
                <td>{{ book_read.description }}</td>
                <td>{{ book_read.isRead ? 'Yes' : 'No' }}</td>
                <td>{{ book_read.cover }}</td>
                <td>{{ book_read.createdAt ? book_read.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book_read.updatedAt ? book_read.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_book_read_show', {'id': book_read.id}) }}">show</a>
                    <a href="{{ path('app_book_read_edit', {'id': book_read.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_read_new') }}">Create new</a>
{% endblock %}
